html {
  background: grey;
}

.App {
  max-width: 550px;
  margin: auto;
  background: #FFFFFF;
}

nav {
  display: flex;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 3px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 82px;
  height: 25.35px;
  margin: auto 30px;
}

.hero {
  max-width: 550px;
  display: flex;
  flex-direction: column;


}

.hero img {
  width: calc(550px - 140px);
  margin: 20px auto;
}

.hero h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 110%;
  margin: 10px 36px;
}

.hero p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
  width: 320px;
  margin: 10px 36px;
}
.card-list{
  display: flex;
  overflow: scroll;
  flex-grow: 0;
  margin-left: 37px;
  margin-top: 30px;
}
.card {
  font-size: 12px;
  margin-right: 20px;
  padding-bottom: 20px;
  position: relative;
  font-weight: 300;

}

.card-button {
  padding: 2px 6px;
  margin: auto;
  background: #FFFFFF;
  border-radius: 2px;
  position: absolute;
  width: 61px;
  height: 20px;
  left: 7px;
  top: 7px;
  font-weight: normal;
  font-size: 12px;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  width: 14px;
  height: 14px;
}

.main-pic {
  width: 176px;
  height: 235px;
}

.card span, h4, p{
  margin: 2px 0;
}

.card h4 {
  font-weight: 300;
}

.rating {
  display: flex;
  align-items: baseline;

}

.rating span {
  margin: 0 1px;

}